<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fontawesome.com/icons?d=gallery&m=free" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">

</head>

<body>
        <header>
            <div class="top">
                <div class="logo"><a href="/home"><img src="static/img/logo-mercado-liebre.svg"
                            alt="Logo Mercado Liebre"></a>
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">Buscar productos, marcas y más</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
                <div class="top2">
                    <p><i class="fas fa-hand-holding-usd"></i>Comprar en cuotas y con tarjeta de credito</p>
                </div>
            </div>
            <nav class="nav-bar">
                <ul class="contenido">
                    <li><a href="#">Oferta</a></li>
                    <li><a href="#">Tienda Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="acceso">
                    <li><a href="/register">Crea tu cuenta <i class="fas fa-regular fa-address-card"></i></a></li>
                    <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
    <main>
        <form action="/home" method="POST" onsubmit="return validarUsuario()">
            <input type="text" name="usuario" placeholder="Nombre de usuario" id="nombre" required>
            <br>
            <br>
            <input type="password" name="password" placeholder="Contraseña" required>
            <br>
            <br>
            <button class="enviar" type="submit">Enviar</button>
        </form>
        <script>
            function validarUsuario(){
                var nom = document.getElementById('nombre').value;
                if(nom.length <= 8 ){
                    window.alert("El usuario ingresado no es correcto.");
                    return false;
                }
                else{
                    return true;
                }
            }
        </script>
    </main>
    <footer>
        <div class="pie">
            <article>
                <div class="credito">
                    <i class="fa fa-regular fa-credit-card"></i>
                </div>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <br>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!</p>
            </article>
            <article>
                <div class="regalo">
                    <i class="fa fa-solid fa-gift"></i>
                </div>
                <h2>Envío gratis desde $ 2.500</h2>
                <br>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de
                    Mercado Puntos.</p>
            </article>
            <article>
                <div class="seguridad">
                    <i class="fa fa-solid fa-user-shield"></i>
                </div>
                <h2>Seguridad, de principio a fin</h2>
                <br>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.
                </p>
            </article>
        </div>
        <br>
        <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>